<h3>utility-operators</h3>

<h3>toArray</h3>
<img src="../../../assets/toArray.png" alt="" />
<h3>subscribeOn</h3>
<img src="../../../assets/subscribeOn.png" alt="" />
<h3>observeOn</h3>
<img src="../../../assets/observeOn.png" alt="" />
<h3>materialize</h3>
<img src="../../../assets/materialize.png" alt="" />
<h3>deMaterialize</h3>
<img src="../../../assets/dematerialize.png" alt="" />
<h3>delay</h3>
<img src="../../../assets/delay.png" alt="" />
