<h2>RXJS</h2>
<p>
  Function can return only one value but observable can return multiple values.
</p>
<h2>Subscription</h2>
<p>
  Assign observable to subscription so user can unsubscribe the observable or
  cancels observable from emitting values
</p>
<h2>Types of operators in Rxjs</h2>
<ul>
  <li>
    pipeable operator : Pure functions (out put will be same is passes the same
    input), take observable as an input and returns another observable.
    Subscribe to output observable will also subscribe the input observable
  </li>
  <li>
    creation operator : interval from fromEvent etc (it is observable creators)
  </li>
  <li>
    Higher order observable emits other observable, so there will be inner and
    outer observables (merge switch concat exhausted)
  </li>
</ul>

<h2>Links</h2>

<div>
  <a routerLink="/newObservable">How to create new Observable</a>
</div>
<div>
  <a routerLink="/convertToObservable"
    >How to convert to Observable from promise array and event</a
  >
</div>
<div>
  <a routerLink="/cancelObservable">How to cancel Observable</a>
</div>
<div>
  <a routerLink="/operators">Operators</a>
</div>
<div>
  <a routerLink="/buffer">buffer</a>
</div>
<div>
  <a routerLink="/take">take</a>
</div>
<div>
  <a routerLink="/skip">skip</a>
</div>
<div>
  <a routerLink="/distinct">distinct</a>
</div>
<div>
  <a routerLink="/filter">filter</a>
</div>
<div>
  <a routerLink="/sample">sample</a>
</div>
<div>
  <a routerLink="/audit">audit</a>
</div>
<div>
  <a routerLink="/throttle">throttle</a>
</div>
<div>
  <a routerLink="/first">first and last</a>
</div>
<div>
  <a routerLink="/debounce">debounce</a>
</div>
<div>
  <a routerLink="/ElementAt">ElementAt</a>
</div>
<div>
  <a routerLink="/ignoreElements">ignoreElements</a>
</div>
<div>
  <a routerLink="/single">single</a>
</div>
<div>
  <a routerLink="/map">map & mapto</a>
</div>
<div>
  <a routerLink="/ajax">ajax</a>
</div>
<div>
  <a routerLink="/higher-order">higher-order</a>
</div>
<div>
  <a routerLink="/subjects">Unicast and Multicast : subjects </a>
</div>
<div>
  <a routerLink="/error">Catch error </a>
</div>
<div>
  <a routerLink="/join">Join creation operators </a>
</div>
<div>
  <a routerLink="/schedulers">Schedulers </a>
</div>
<div>
  <a routerLink="/math">math operators </a>
</div>
<div>
  <a routerLink="/utility">utility operators </a>
</div>
<div>
  <a routerLink="/transformation">transformation operators </a>
</div>
