<h2>How to convert to Observable</h2>

<p>
  Note : Error error happens then the observable wont complete, it will stop
  emitting value
</p>

<p>A nromal array can be converted to an observable by using from operator</p>
<p>It wont accept just 1,2,3 it accepts like arrays and promises</p>

<img src="../../../assets/from.png" alt="" />

<h3>Promises</h3>

<img src="../../../assets/from-promises.png" alt="" />

<h3>Using of operator can create observable</h3>
<img src="../../../assets/of.png" alt="" />

<h3>To create observable based on browser events events</h3>
<img src="../../../assets/fromEvent.png" alt="" />

<h3>Using defer can create observable using if conditions</h3>
<img src="../../../assets/defer.png" alt="" />

<h3>range operator</h3>
<img src="../../../assets/range.png" alt="" />

<h3>generate operator</h3>
<img src="../../../assets/generate.png" alt="" />
<img src="../../../assets/generate2.png" alt="" />

<h3>interval operator</h3>
<p>interval wont allow to configure when the first value should emit</p>
<img src="../../../assets/interval.png" alt="" />

<h3>timer operator</h3>
<p>in timer we can configure when the first value should emit</p>
<img src="../../../assets/timer.png" alt="" />

<div>
  <button id="link-id">Click</button>
</div>
