<h3>skip</h3>

<img src="../../../assets/skip.png" alt="" />

<h3>skipLst</h3>

<img src="../../../assets/skiplast.png" alt="" />

<img src="../../../assets/skiplast2.png" alt="" />

<h3>skipUntill</h3>
<p>observable as input</p>
<img src="../../../assets/skipuntill.png" alt="" />

<h3>skipWhile</h3>
<p>function as input</p>
<img src="../../../assets/skipwhile.png" alt="" />

<div>
  <button (click)="startTimer()">Start Timer</button>
</div>
<div>
  <button id="takeUntil">ENd the Timer with skip until</button>
</div>
