<h3>error-handling</h3>

<h3>catchError</h3>

<img src="../../../assets/catcherror.png" alt="" />

<h3>retry</h3>
<img src="../../../assets/retry.png" alt="" />

<h3>retryWhen</h3>
<img src="../../../assets/retryWhen.png" alt="" />
