<h3>higher Order functions</h3>

<img src="../../../assets/higherOrderFunctions1.png" alt="" />

<p>
  if inner observable returns another observable, then the subscribed value will
  be observable and it should be subscribe again
</p>

<p>
  But when we use higher order observable no need to subscribe inside subscribe
</p>

<h3>MergeMap</h3>

<p>API Response order will be different</p>

<img src="../../../assets/mergemap.png" alt="" />
<img src="../../../assets/mergemap2.png" alt="" />
<img src="../../../assets/mergemap3.png" alt="" />
<img src="../../../assets/mergemap4.png" alt="" />

<h3>MergeMapTo</h3>
<img src="../../../assets/mergemapto.png" alt="" />
<p>2 is number of concurrent API to trigger at a time</p>

<h3>concatMap</h3>

<img src="../../../assets/concatmap.png" alt="" />
<img src="../../../assets/concatmapto.png" alt="" />

<h3>switchMap</h3>

<img src="../../../assets/switchmap.png" alt="" />
<h3>exhaustedMap</h3>
<img src="../../../assets/exhaustedmap.png" alt="" />

<h3>merge</h3>
<img src="../../../assets/merge.png" alt="" />

<h3>mergeAll and mergemap</h3>

<img src="../../../assets/mergeallandmergemap.png" alt="" />

<p>output in both mergeall and mergemap : both are same</p>
<code>
  value from source 2 0 - value from source 2 1 - value from source 2 0 - value
  from source 2 1
</code>

<h3>concat</h3>
<img src="../../../assets/concat.png" alt="" />

<h3>concatAll and concatMap</h3>

<p>provide same output</p>
<img src="../../../assets/concatmap-concatall.png" alt="" />

<code>
  value from source 2 0 - value from source 2 1 - value from source 2 0 - value
  from source 2 1
</code>

<code>
  value from source 2 0 - value from source 2 1 - value from source 2 0 - value
  from source 2 1
</code>
