<h3>Subscription</h3>
<img src="../../../assets/subscription.png" alt="" />
<img src="../../../assets/custom-observable-with-setInterval.png" alt="" />
<img src="../../../assets/unsub-multi-subscription.png" alt="" />

<button (click)="cancelSubscription()">Cancel subscription</button>
