<h3>subjects</h3>

<img src="../../../assets/subject.png" alt="" />

<p>
  is a type of observable, can "multicaste" to multiple observers at same
  time.subjects are multicast and emitting one value will be available in all
  the observers. subject maintains a list of observers in an array and emits
  value to all the observers in an array.
</p>

<p>
  when a normal observable is subscribed by 2 observers, then the observable
  will run 2 times (one at a time, one after another).
</p>

<h3>Hot observable</h3>

<p>
  value created outside observable, to execute no need of subscription , eg :
  fromEvent (bcz dom created value and fromEvent wrap that into an observable
  and send).
</p>

<img src="../../../assets/hotObservable.png" alt="" />
<img src="../../../assets/hotObservable2.png" alt="" />

<h3>Cold observable</h3>

<p>
  value created declared and emit inside observable, must have subscribe this
  observable to execute.
</p>

<img src="../../../assets/coldObservable.png" alt="" />

<h3>Cold and Hot Obs</h3>
<img src="../../../assets/coldhotobs.png" alt="" />

<h3>Cold to Hot</h3>
<img src="../../../assets/coldtohot.png" alt="" />
<img src="../../../assets/coldtohotasyncsubject.png" alt="" />
<img src="../../../assets/coldtohotbehavioussubject.png" alt="" />
<img src="../../../assets/coldtohotconnectable.png" alt="" />
<img src="../../../assets/coldtohotreplysubject.png" alt="" />
<img src="../../../assets/coldtohotconnectable.png" alt="" />
<img src="../../../assets/share.png" alt="" />

<h3>Type of subjects</h3>
<p>
  Behavious subject : stores a initial value, and it will return the last
  emitted value while subscribe to it
</p>
<img src="../../../assets/behaviourSubject.png" alt="" />
<p>
  Replay subject : for new subscribers it will emit all the old values which is
  already emitted, even error happened it wont stops
</p>
<img src="../../../assets/replaySubject.png" alt="" />
<p>AsyncSubject : once subject completes it will emit last emitted value</p>
<img src="../../../assets/asyncSubject.png" alt="" />
<p>
  VoidSubject : it will just save initial value and will emit with no value ,
  just a trigger
</p>
<img src="../../../assets/voidSubject.png" alt="" />
