<h3>take</h3>

<img src="../../../assets/take.png" alt="" />

<h3>take last</h3>

<img src="../../../assets/takelast.png" alt="" />

<h3>take untill</h3>
<p>takes observable as input</p>
<img src="../../../assets/takeUntill.png" alt="" />

<h3>take while</h3>
<p>takes function as input, have an extra boolean param</p>
<img src="../../../assets/takewhile.png" alt="" />

<div>
  <button (click)="startTimer()">Start Timer</button>
</div>
<div>
  <button id="takeUntil">ENd the Timer with Take until</button>
</div>
