<h3>buffer</h3>

<img
  src="https://rxjs.dev/assets/images/marble-diagrams/buffer.png"
  style="height: 500px; width: 600px"
/>

<p>
  Note : buffer saves all the emitted values. once the showData$ triggers it
  will show all the saved data and start saving new values. Output will be as
  arrays eg : [0,1,2,3] [4,5,6,7,8,9]
</p>

<img src="../../../assets/buffer.png" />

<h3>Buffer Count</h3>
<p>
  Note : Buffercount means, after emitting 3 values trigger the subscribe, then
  again after emitting 3 values trigger subscribe again. [0,1,2] [3,4,5] [6,7,8]
</p>
<img src="../../../assets/buffercount.png" />

<p>
  Note : Buffercount with extra param means, after emitting 3 values trigger the
  subscribe, But it removes 2 values from prev array and.
  <strong>bufferCount(3, 2)</strong>
  //[0,1,2] [2,3,4] [4,5,6]
</p>

<h3>Buffer time</h3>

<img src="../../../assets/bufferTime.png" />

<p>
  Note : Buffertime will emit buffered data based on time(in milli seconds), in
  5 sec whatever data stored in buffer it will return buffer(5000)
</p>

<p>
  Note : <strong>buffer(2000,5000)</strong> so this will emit values in every 5
  sec, and it will have the data which emitted 2 sec before emitting the buffer
  value (so in 5 sec first 3 sec it wont take anything in the buffer)
</p>

<h3>Buffer toggle</h3>
<p>
  first open happens after 6 second, then wait for 3 sec to store buffer, then
  close. again after close it wait for 3 sec and open again
</p>
<img src="../../../assets/bufferToggle.png" />
<img src="../../../assets/bufferToggleOutput.png" />

<p>
  Note : bufferToggle(opening, closing), opening is an observable. closing is an
  function. it will capture amount of data which is triggered in between open
  and close time
</p>

<h3>Buffer when</h3>
<img src="../../../assets/bufferWhen.png" />
<p>
  Note : Bufferwhen(closing), user can provide input on when the buffer should
  happen. From ngOninit it triggers once user click on screen it emit values as
  array. 0 1 2 click [0,1,2]
</p>

<div style="margin-top: 30px">
  <button (click)="startInterval()">start</button>
  <button id="showButton">Show</button>
</div>

<p *ngFor="let b of intervalData">{{ b }}</p>
