<h3>schedulers</h3>

<p>
  Control observable on how to be executed, when subscription start, when obs
  should start and deliver values.
</p>

<p>schedulers can be a optional param for creation of observables</p>

<h3>Queue Schedulers</h3>
<p>execute obs synchronously, block eventloop</p>

<h3>Async Schedulers</h3>
<p>
  Async Schedulers : execute obs asynchronously, wont block js eventloop, it
  will be in task queue, when eventloop is empty push it and runs
</p>
<h3>Asap Schedulers</h3>
<p>
  Asap Schedulers : execute obs asynchronously, addded in micro task queue in js
  , have more priority than async schedulers
</p>

<p>micro task queue has more priority than task queue</p>

<img src="../../../assets/schedulers.png" alt="" />
