<h3>math-operators</h3>

<h3>count</h3>
<img src="../../../assets/count.png" alt="" />
<h3>min</h3>
<img src="../../../assets/min.png" alt="" />
<h3>max</h3>
<img src="../../../assets/max.png" alt="" />
<h3>reduce</h3>
<img src="../../../assets/reduce.png" alt="" />
<h3>scan</h3>
<img src="../../../assets/scan.png" alt="" />
<h3>isEmpty</h3>
<img src="../../../assets/isEmpty.png" alt="" />
<h3>findIndex</h3>
<img src="../../../assets/findindex.png" alt="" />
<h3>find</h3>
<img src="../../../assets/find.png" alt="" />
<h3>every</h3>
<img src="../../../assets/every.png" alt="" />
<h3>defaultIfEmpty</h3>
<img src="../../../assets/deforempty.png" alt="" />
