<h3>transformation</h3>

<h3>groupBy</h3>
<img src="../../../assets/groupBy.png" alt="" />
<img src="../../../assets/groupBy2.png" alt="" />
<img src="../../../assets/groupBy3.png" alt="" />

<h3>pairwise</h3>
<img src="../../../assets/pairwise.png" alt="" />
<h3>window</h3>
<img src="../../../assets/window.png" alt="" />
<h3>windowCount</h3>
<img src="../../../assets/windowcount.png" alt="" />
<h3>windowTime</h3>
<img src="../../../assets/windowTime.png" alt="" />
<h3>windowToggle</h3>
<img src="../../../assets/windowtoggle.png" alt="" />
<h3>windowWhen</h3>
<img src="../../../assets/windowWhen.png" alt="" />
